{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Guided Device Setup{% endblock %}

{% block content %}

<h1 class="page-header">Flash</h1>
    <h3>Configurar un nuevo {{ device_family }}</h3>

          <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-stacked" role="pilllist">{# TODO - Fix class active to use flat-ui colors #}
                        <li role="presentation" class="active nav-item"><a href="#selectPill" aria-controls="selectPill" role="pill" data-toggle="pill">Selecciona una opción:</a></li>
                        <li role="presentation" class="nav-item"><a href="#wifiPill" aria-controls="wifiPill" role="pill" data-toggle="pill">WiFi</a></li>
                        <li role="presentation" class="nav-item"><a href="#serialPill" aria-controls="serialPill" role="pill" data-toggle="pill">Serial</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    {# Select (Default) Pane #}
                    <div role="pillpanel" class="col-md-8 tab-pane active" id="selectPill">
                        <h4>¿Cómo está conectado?</h4>
                        <p>
                            Ahora que el dispositivo está flasheado, necesitamos configurarlo para conectarnos a él. Si estás usando 
                            <b>WiFi</b> finaliza la configuración y conéctalo a tu red. Si estás usando
                            <b>Serial</b> conecta el dispositivo a la RPi.
                        </p>
                        <p>Una vez está todo conectado, selecciona en el lado izquierdo el metodo de conexión.</p>
                    </div>{# Select (Default) Pane #}

                    {# WiFi Connection Pane #}
                    <div role="pillpanel" class="col-md-8 tab-pane" id="wifiPill">
                        {% if device_family == "ESP8266" %} {# Only ESP8266 devices are supported for WiFi #}
                            <p>Genial. ESP8266 + WiFi = Fantástico.</p>

                            <p>
                                Clikenado en el siguiente botón escanaeremos la red en busca de un dispositivo ESP8266 BrewPi,
                                dándote la opción de conectarte a cualquier dispositivo que aún no haya sido configurado.
                            </p>

                            <a href="{% url 'device_guided_mdns' %}" class="btn btn-large btn-primary">Escanear WiFi via mDNS</a>
                        {% else %}
                            Desafortunadamente, el WiFi no está soportado en la <i>familia</i> {{ device_family }}. Por favor
							inténtalo conectandolo via "Serial" en la izquierda.
                        {% endif %}
                    </div>{# WiFi Connection Pane #}

                    {# Serial Pane #}
                    <div role="pillpanel" class="col-md-8 tab-pane" id="serialPill">
                        <form action="{% url "device_guided_flash_prompt" device_family %}" method="post" >{% csrf_token %}
                            {% if device_family == "ESP8266" or device_family == "Arduino" %}
                                <p>Maravilloso. Es dificil perder un dispositivo cuando lo tienes conectado con un cable USB.</p>

                                <p>
                                    Clickeando el siguiente botón comenzará el proceso de autodeteción via "Serial", donde
									podrás determinar el nombre de tu dispositivo. Antes de comenzar, desconecta el dispositivo
									de la Rpi (si es que está conectado).
                                </p>

                                <a href="{% url 'device_guided_serial_autodetect' device_family %}" class="btn btn-large btn-primary">Comenzar la Autodetección via Serial</a>
{#                                <a href="{% url 'device_add' %}" class="btn btn-large btn-primary">Agregar dispositivo via Configuración Avanzada</a>#}
                            {% else %}
                                <p>Desafortunadamente, Fermentrack de momento no soporta (oficialmente) dispositivos basados en 
								{{ device_family }} via serial. Estamos trabajando para lograrlo, y esperamos agregar soporte para v2 or v3. 
								Mantente atento al hilo de HomeBrewTalk.</p>

                                <p>Si eres capaz y quieres intentarlo, siempre puedes tratar de instalarlo manualmente via la
                                <a href="{% url 'device_add' %}">Configuración Avanzada</a>. Si logras que funcione, ¡por favor haznoslo saber!</p>
                            {% endif %}
                        </form>
                    </div>{# Serial Pane #}

                </div>
            </div>
          </div>

{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% endblock %}
