{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Configuración inicial{% endblock %}

{% block content %}

<h1 class="page-header">Instalación asistida</h1>

Primero necesitas crear un usuario, este ususario será un superuser y tendrá acceso a todo el sistema (accederás automáticamente una vez se cree el usuario).

<form method="post" action="">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Crear nueva cuenta de usuario" class="btn btn-large btn-primary btn-lg" />
</form>
{% endblock %}

{% block scripts %}
<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
{% endblock %}
