{% extends "sitewide/flat_ui_template.html" %}
{% load custom_tags %}

{% block title %}Fermentrack{% endblock %}

{% block content %}

<h2>Inatalación de Fermentrack</h2>

{% if not num_users %}
    {# Guided setup is a 2 step process - First step is user creation #}
    <p>Parece que es la primera vez que ejecutas Fermentrack. Necesitamos configurar algunas cosas antes de comenzar.</p>
    <a href="{% url 'setup_add_user' %}" class="btn btn-large btn-primary">Continuar con la configuración guiada</a>
{% elif not completed_config %}
    {# Second step is site configuration - The user should be guided here from setup_guided_add_user #}
    <p>Parece que es la primera vez que ejecutas Fermentrack. Necesitamos configurar algunas cosas antes de comenzar.</p>
    <a href="{% url 'setup_config' %}" class="btn btn-large btn-primary">Continuar con la configuración guiada</a>
{% else %}
    {# Otherwise, we're just displaying this page for the hell of it. Present both options #}
    <p>Parece que es la primera vez que ejecutas Fermentrack. Necesitamos configurar algunas cosas antes de comenzar.</p>
    <a href="{% url 'setup_add_user' %}" class="btn btn-large btn-primary">Agregar Usuario al Flujo de Trabajo</a>
    <a href="{% url 'setup_config' %}" class="btn btn-large btn-primary">Configurar Sitio del Flujo de Trabajo</a>

{% endif %}

{% endblock %}


{% block scripts %}
{% endblock %}
